@import "./components/animateMarkerElement.css";

body {
  margin: 0;
  position: relative;
}

#map {
  width: 100%;
  min-height: 100vh;
}

#controller {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  gap: 5px;
  padding: 10px;
}
