.animate-wrapper {
  position: relative;
  width: 15px;
  height: 15px;
}

.animate-wrapper button {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  z-index: 2;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.emitter {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  background-color: red;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  background-color: red;
  opacity: 0;
}

.wave {
  animation: Wave 1s linear infinite;
}

@keyframes Wave {
  from {
    opacity: 0.9;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
